<div class="banner banner-hotel">
    <div class="container">
        <div class="banner-top">
            <h1>Search Hotels</h1>
            <div class="banner-bottom">
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Location</p>
                    </div>
                    <div class="bnr-right">
                        <input id="autoCompleteField" type="text" value="" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}" required=>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Check In</p>
                    </div>
                    <div class="bnr-right">
                        <input class="date" id="datepicker" type="text" value="" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}" required=>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Check Out</p>
                    </div>
                    <div class="bnr-right">
                        <input class="date" id="datepicker1" type="text" value="" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}" required=>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Adults</p>
                    </div>
                    <div class="bnr-right">
                        <select>
                            <option  class="rm" value="volvo">0</option>
                            <option  class="rm" value="saab">1</option>
                            <option  class="rm" value="opel">2</option>
                            <option  class="rm" value="audi">3</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Room</p>
                    </div>
                    <div class="bnr-right">
                        <select>
                            <option value="volvo">Select a type</option>
                            <option value="saab">Single</option>
                            <option value="opel">Double</option>
                            <option value="audi">Suite</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-btn">
                    <form>
                        <input type="submit" value="Search" onclick="window.location.href='#/hotel/results'">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-banner-->
<!---start-date-piker---->
<script>
    $(function() {
        $( "#datepicker,#datepicker1" ).datepicker();
    });
</script>

<script>
    (function ($) {

        var options = {

            url: "resources/airports.json",

            getValue: "name",

            list: {
                match: {
                    enabled: true
                }
            },

            theme: "square"
        };

        $("#autoCompleteField").easyAutocomplete(options);
    })(jQuery)
</script>
<!---/End-date-piker---->
